body {
	font-size: 16px;
	color: #fff;
	background-color: #000;
	position: relative;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #3333FF;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.row{
	margin-left: 0px;
	margin-right: 10px;
	width: 100%;
	position: relative;
}
.menu-tile {
	margin: 10px 0px 10px 0px;
	background-color: #003300;
  	padding: 10px;
}
.menu-item-title{
	text-align: center;
}


